<!doctype html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" type="text/css" href="./../top/release/ui-grid.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="./../top/release/angular.js"></script>
    <script src="./../top/release/angular-touch.js"></script>
    <script src="./../top/release/angular-animate.js"></script>
    <script src="./../top/docs/grunt-scripts/csv.js"></script>
    <script src="./../top/docs/grunt-scripts/pdfmake.js"></script>
    <script src="./../top/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="./../top/release/ui-grid.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="MainCtrl">
      <div id="gridSaveState" ui-grid="gridOptions" ui-grid-save-state ui-grid-selection ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-grouping class="grid"></div>
      <button id="save" type="button" class="btn btn-success" ng-click="saveState()">Save</button>
      <button id="restore" type="button" class="btn btn-success" ng-click="restoreState()">Restore</button>
    </div>
  </body>
</html>
